@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");

button.go-back.btn.btn-warning {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 2;
  color: white !important;
  cursor: pointer;
}

.register-main-div {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: url("../assets/images/registeration_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Kufi Arabic", sans-serif;
}

.register-main-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.register-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  background-color: rgb(119 155 179 / 30%);
  color: white;
  padding: 30px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: inset 3px 6px 20px 15px rgb(114 173 218 / 30%);
}

.register-title {
  text-align: center !important;
  display: block;
  width: 100%;
  font-size: 30px !important;
  color: white !important;
  font-weight: 700;
  margin-bottom: 10px !important;
}

button.btn-register.btn.btn-primary {
  display: block;
  width: fit-content;
  margin: 0 auto !important;
}
